# Ambiente e secrets
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Static coletado (gerado em deploy)
staticfiles/

# Backups
backups/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# EB
.elasticbeanstalk/*.cfg.yml
.elasticbeanstalk/*.cfg.yaml
